/* CSS Document - 21 Card Game - James Morris July 2011 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------- Super classes ---------------*/

body{
	background-color: #006600;
	font-family:arial, sans-serif;
	text-align:center;
	margin:auto;
	
}
ul{
	padding:0;
}



/* large 
@media only screen and (min-width: 850px) {
	body{
		width:auto;
	}
}
*/

#page_wrapper
{
  width: 620px;
  height: 940px;
  padding: 10px;
  background: #006837; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006837', endColorstr='#76ae95'); /* for IE */
  background: -webkit-gradient(linear, top left, bottom left, from(#006837), to(#76ae95)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #006837,  #76ae95); /* for firefox 3.6+ */ 
  border: 1px solid #000;
}

h1
{
  font-size: 280%;
}

h2
{
  font-size: 220%;
}

h3
{
font-size: 180%;
}

/*------------- Content ---------------*/



/*=== Navigation ===*/
nav
{
  margin: 0 !important;
  height: 15%;
  width: 100%;
}


/* ------------- Misc Utils --------------- */

.minor
{
  font-size: 10px;
}

.upper
{
  text-transform: uppercase;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.clear_both
{
  clear: both;
}

.hidden
{
  display: none;
}

.hide_text
{
  display: block;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
}

.bold
{
  font-weight: bold;
}

.strike
{
  text-decoration: line-through;
}