/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */


body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

li{
	list-style:none;
}

/*------------- Super classes ---------------*/

body{
	background-color: #006600;
	font-family:arial, sans-serif;
	text-align:center;
	margin:auto;
	
}
ul{
	padding:0;
}



/* large 
@media only screen and (min-width: 850px) {
	body{
		width:auto;
	}
}
*/

#page_wrapper
{
  width: 620px;
  height: 940px;
  padding: 10px;
  background: #006837; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006837', endColorstr='#76ae95'); /* for IE */
  background: -webkit-gradient(linear, top left, bottom left, from(#006837), to(#76ae95)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #006837,  #76ae95); /* for firefox 3.6+ */ 
  border: 1px solid #000;
}


/*------------- Content ---------------*/



/*=== Navigation ===*/
nav
{
  margin: 0 !important;
  height: 15%;
  width: 100%;
}


/* ------------- Misc Utils --------------- */

.minor
{
  font-size: 10px;
}

.upper
{
  text-transform: uppercase;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.clear_both
{
  clear: both;
}

.hidden
{
  display: none;
}

.hide_text
{
  display: block;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
}

.bold
{
  font-weight: bold;
}

.strike
{
  text-decoration: line-through;
}



/** Hacked in styles by ben */
html {
    height: 100%;
    overflow:hidden;
	width:100%;
}
body {
    height: 100%;
	width:100%;
    background-repeat: no-repeat;
    font-size:200%;
	background-color:#025728;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, #025728),
	    color-stop(1, #619F7E)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #025728 0%,
	    #619F7E 99%
	);
	-webkit-background-size:150% 100%;
    font-family: 'Oswald', sans-serif;
}
a{
    color:#ccc;
}
h1{
    color:#0F4024; 
    text-shadow: #40372F 0px 2px 1px;
    text-transform:uppercase;
    font-size:1em;
    margin-bottom:.5em;;
}

.cards li
{
    background-color: #F7F7F7;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.35);
    color: #000000;
    height: 4em;
    width: 2.5em;
    padding:.25em;
    margin:.25em;
    display:inline-block;
    text-align:left;
    overflow:hidden;
}


.cards li .flip{
    display:block;
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg);    
    height:3em;
}
#table{
    font-size:.75em;
    width:8em;
    margin:auto;
}


#panels{
 font-size:.5em;
 margin:auto;
 width:15em;
}

#options, #solutions{
    position:fixed;
    top:-26em;
    width:15em;
    height:25em;
    position:absolute;
    padding-top:.5em;
   -webkit-border-radius: .25em;
   -moz-border-radius: .25em;
   border-radius: .25em;
    background-color:rgba(0,0,0,0.65);
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    height:0;
    overflow:hidden;
    height:25em;
}

#options > li{
    float:left;
    width:3em;
    height:5em;
    text-align:center;
    padding-left:.5em;
    cursor: pointer;
}
#options > li.multiple{
    width:9em;
    padding-left:.75em;
}

#options li:hover .cards li{
    background-color:#FDFDC0;
}

#solutions li{
    font-family:helvetica, arial, sans-serif;
    font-size:1.5em;
    letter-spacing:.3em;
    line-height:1.4em;
    color:#fff;
}

#options.active, #solutions.active{
     top:1em;
     padding-top:0.5em;
}

nav{
    position:fixed;
    bottom:0;
    background-color:#ccc;
    z-index:200;
}
nav a{
	color:#000;
	font-size:.5em;
}


@media screen and (orientation:landscape) {
	#table{
		font-size:.7em;
		width:16em;
	}
	
	#panels{
		width:30em;
	}
	
	#options, #solutions{
			width:30em;
	}
}